.mainContainer{
    min-height: 100vh;
    padding: 20px;
}
.heading{
    font-size: 4.5em;
    user-select: none;
}
.boxContainer{
    margin: auto;
    width:90%
}
.box{
    width: calc(100%/3.5);
    height:250px;
    margin-left:30px;
    margin-top: 30px;
    box-shadow: 0 0 1em #999;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box p{
    font-family: monospace;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
}
.modebtn{
    background: #aaa;
    padding: 5px;
    width: 110px;
    height: 60px;
    border-radius:30px;
    cursor: pointer;
    transition: 0.5s ease;
}
.cir{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}